body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}
.app-container {
  display: flex;
  min-height: 100vh;
}

.mobile-menu-button {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .mobile-menu-button {
    display: block;
  }
}